.calender li{
   list-style: none;
   font-size:30px;
   background-color: rgb(170, 229, 248);
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s;
   border: 1px solid gray;
   

}
.calender{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2px;
    
}
.other{
    background-color:rgb(211, 224, 211)!important;
}
.day{
    list-style: none;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2px;
    

}
.calender li:hover{
    transform: scale(1.2);
    box-shadow: 7px 7px 7px #aaaaaa;
    
}
.img-box{
    height: 350px;
    background-image: url(flower.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
    